<article>
    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter overhead">
        <div class="gallery-curve-wrapper">
            <a class="gallery-cover #388e3c green darken-2" style="height: 300px;">
                <!-- ../img/1280x500.png
                http://placehold.it/1280x500
                -->
                <img src="templates/materialize/img/1280x500.png" alt="placeholder">
            </a>
            <div class="gallery-header">
                <span title="{title}">{title}</span>
            </div>
            <div class="gallery-body">
                <div class="title-wrapper">
                    <h3>{title}</h3>
                    <time class="entry-date" datetime="{date}">{date}</time>
                </div>
                <p class="description">{body}</p>
                <br>
                <div class="row">
                    <div class="col s12">
                        {carouselArticle}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div id="disqus_thread"></div>
                        <script>
                            var comment = '{comment}';
                            if (comment == 's') {
                                (function () { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://bloglps.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            }
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                            powered by Disqus.</a></noscript>

                    </div>
                </div>
            </div>
            <div class="gallery-action">
                <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
            </div>
        </div>
    </div>


</article><!-- #post -->